<%= simple_form_for(@tarea) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h4 class="alert-heading">
        Ups, hay algunos errores que deberías ver...
      </h4>
      </ul>
    </div>
  <% end %>

  <%= f.input :nombre %>
  <%= f.input :fecha, use_month_numbers: true, order: [:day, :month, :year] %>
  <%= show_tarea_responsable_select(f) %>
  <%= f.input :detalles, input_html: { rows: 5 } %>

  <div class="form-actions">
    <%= f.button(
      :submit,
      @tarea.new_record? ? 'Crear Tarea' : 'Actualizar Tarea',
      class: 'btn-primary'
    ) %>
  </div>
<% end %>
