<table class="table table-bordered table-striped table-condensed">
  <caption>
    <br />
    <h2><%= t('.titulo') %></h2>
    <br />
  </caption>
  <tr>
    <th><%= Tarea.human_attribute_name 'nombre' %></th>
    <th><%= Tarea.human_attribute_name 'fecha' %></th>
    <th><%= Tarea.human_attribute_name 'responsable_id' %></th>
    <th></th>
  </tr>

  <%= render partial: 'tarea', collection: @tareas %>
</table>

<br />

<%= will_paginate @tareas %>

<nav>
  <%= link_to t('.nueva'), new_tarea_path, class: 'btn btn-primary' %>
</nav>
