<p id="notice"><%= notice %></p>

<section>
  <h1><%= @tarea.nombre %></h1>
  
  <% if @tarea.fecha %>
    <p>Se debe hacer para el <%= @tarea.fecha %></p>
  <% end %>

  <% if @tarea.responsable %>
    <p>La debe hacer <strong><%= @tarea.responsable %></strong></p>
  <% end %>

  <p><%= @tarea.detalles %></p>
</section>

<nav>
  <%= link_to 'Editar', edit_tarea_path(@tarea) %> |
  <%= link_to 'Eliminar', @tarea, confirm: '¿Seguro?', method: :delete %> |
  <%= link_to 'Volver', tareas_path %>
</nav>
