<br />

<section>
  <h1><%= @tarea.nombre %></h1>
  
  <% if @tarea.fecha %>
    <p>Se debe hacer para el <%= @tarea.fecha %></p>
  <% end %>

  <% if @tarea.responsable %>
    <p>La debe hacer <strong><%= @tarea.responsable %></strong></p>
  <% end %>

  <p><%= @tarea.detalles %></p>
</section>

<nav class="form-actions">
  <%= link_to 'Editar', edit_tarea_path(@tarea), class: 'btn btn-primary' %>
  
  <div class="pull-right">
    <%= link_to 'Eliminar', @tarea, data: { confirm: '¿Seguro?' }, method: :delete %> |
    <%= link_to 'Volver', tareas_path %>
  </div>
</nav>
