<br />

<section>
  <h1><%= @tarea.nombre %></h1>
  
  <% if @tarea.fecha %>
    <p>
      <strong><%= Tarea.human_attribute_name 'fecha' %></strong>:
      <%= l @tarea.fecha, format: :long %>
    </p>
  <% end %>

  <% if @tarea.responsable %>
    <p>
      <strong><%= Tarea.human_attribute_name 'responsable_id' %></strong>:
      <%= @tarea.responsable %>
    </p>
  <% end %>

  <%= simple_format @tarea.detalles %>
</section>

<nav class="form-actions">
  <%= link_to t('etiqueta.editar'), edit_tarea_path(@tarea), class: 'btn btn-primary' %>
  
  <div class="pull-right">
    <%= link_to t('etiqueta.eliminar'), @tarea, data: { confirm: t('mensaje.confirmacion') }, method: :delete %> |
    <%= link_to t('etiqueta.volver'), tareas_path %>
  </div>
</nav>
