<br />

<h1><%= @responsable.nombre %></h1>

<p><%= mail_to @responsable.email %></p>

<nav class="form-actions">
  <%= link_to t('etiqueta.editar'), edit_responsable_path(@responsable) %> |
  <%= link_to t('etiqueta.eliminar'), @responsable, data: { confirm: t('mensaje.confirmacion') }, method: :delete %> |
  <%= link_to t('etiqueta.volver'), responsables_path %>
</nav>
