<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tareas</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'shared/menu' %>
      <%= yield %>
      <%= render 'shared/notice' if flash.notice %>
    </div>
  </body>
</html>
